{% extends 'layout.html' %} {% block head %}
<title>Menu</title>
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %} {% block body %}
<div class="menu">
  <div class="section">
    <h1>Ana Yemekler</h1>
    {% for foods in foods.values() %} {% for food in foods %}
    <div class="product">
      <div class="productName">{{food.get('name')}}</div>
      <div class="productPrice">{{food.get('price')}}TL</div>
    </div>
    {% endfor %} {% endfor %}
  </div>
  <div class="section">
    <h1>Icecekler</h1>
    {% for drinks in drinks.values() %} {% for drink in drinks %}
    <div class="product">
      <div class="productName">{{drink.get('name')}}</div>
      <div class="productPrice">{{drink.get('price')}}TL</div>
    </div>
    {% endfor %} {% endfor %}
  </div>
  <div class="section">
    <h1>Tatlilar</h1>
    {% for desserts in desserts.values() %} {% for dessert in desserts %}
    <div class="product">
      <div class="productName">{{dessert.get('name')}}</div>
      <div class="productPrice">{{dessert.get('price')}}TL</div>
    </div>
    {% endfor %} {% endfor %}
  </div>
</div>
{% endblock %}
